language: python
python:
- "3.5"

sudo: false
cache: pip

install: "pip install -r docs/requirements.txt"

before_script:
  - cd "${TRAVIS_BUILD_DIR}/docs"
script:
  - make html
after_script:
  - cd "${TRAVIS_BUILD_DIR}"

deploy:
  - provider: pages
    skip-cleanup: true
    github-token: $GITHUB_TOKEN
    keep-history: true
    local-dir: docs/build/html
    on:
      branch: master
